{% extends 'base.html.twig' %}

{% block title %}CMI Test{% endblock %}

{% block body %}
    {# Count comment for post #}
    {% set total = post.comments|length %}

    <div class="w-full px-2 py-16 sm:px-0">
        <h1 id="article_title" class="text-center p-2 text-xlg font-bold">{{ post.title }}</h1>
        <h2 class="text-lg mb-4">Les commentaires reçus <span class="text-[#ee5253]">({{total}})</span> :</h2>

        <div class='flex justify-between flex-wrap'> 
            {% if total %}           
                {% for comment in post.comments %}
                    <div
                        class="relative m-1 w-full"
                    >
                        <div class="bg-gray-100">
                            <p class="p-4">{{ comment.content }}</p>
                        </div>
                            <span class="text-sm">Publié le {{ comment.createdAt|date("d/m/Y", "Europe/Paris") }}</span>
                    </div>

                    {% if comment.answers|length %}
                        {% include 'comment/answers.html.twig' with {'comment': comment} %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="font-bold">0 commentaire</p>
            {% endif %}
        </div>            
    </div>
{% endblock %}
